body {
    margin: 0;
    padding: 0;
    background-color: rgb(24, 26, 27);
    color: #fff;
}


/* h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
} */
